.So{
    text-decoration: underline;
}

div{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #f0f, /* middle magenta */
      0 0 140px 90px #0ff; /* outer cyan */
  
    height:200vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
  background-image: url("https://img.freepik.com/photos-gratuite/montagne-foret-jungle-arbres-dessin-anime-fond-ai-generatif_191095-1949.jpg")
}

body {
    font-size: 45px;
    color: red;
    text-shadow: 2px 2px 4px black;
}

a {
    color:white
}

a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }

.contact{
    color: gold
}