body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tablinks {
  background-color: #ddd;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.tablinks:hover {
  background-color: #bbb;
}

.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Style pour l'onglet actif */
.tablinks.active {
  background-color: #ccc;
}
