body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    
}

p {
    font-size: large;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Alignement vertical au centre */
    background-color: #333;
    padding: 10px;
}

.homebtn {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #333;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: grey;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* Ombre uniforme pour le menu */
    z-index: 1;
    text-align: right; /* Alignement du texte à droite */
    transition: all 0.3s ease; /* Animation de transition pour le menu */
    overflow: hidden; /* Masque le contenu qui dépasse */
}

.dropdown-content button,
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #333 ; /* Contour gris autour des boutons */
    background-color: #333; /* Couleur de fond des boutons */
    cursor: pointer;
    width: 100%; /* Largeur à 100% pour les boutons */
    box-sizing: border-box; /* Boîte de modèle incluant le bord */
    transition: all 0.3s ease; /* Animation de transition pour les boutons */
}

.dropdown-content button:hover,
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-open {
    display: block;
    max-height: 300px; /* Hauteur maximale pour l'effet de déroulement */
    transition: max-height 0.5s ease; /* Animation de déroulement */
}

#sectionContainer {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    transition: opacity 0.3s ease; /* Animation de transition pour le conteneur principal */
}

table{
    border-collapse: collapse
}
  
td{
    border: 1px solid black;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
}


/* Tableau de Classement */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Cellules de Rang */
td:first-child {
    font-weight: bold;
}

/* Dernière Cellule (Victoires) */
td:last-child {
    font-weight: bold;
    color: green; /* Couleur du texte pour les victoires */
}

/* Lignes de Bordure */
td {
    border: 1px solid #ddd;
}

/* Largeur des Colonnes */
th, td {
    width: 25%;
}
